@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500;1,700;1,900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* rwd img css，可當作是CSS Reset 其中一個 */
/* 圖片跟隨視窗縮放 */
/* 圖片不會有多餘的2-3px */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* 全域 border box */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* a連結 文字樣式移除 */
a {
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 1.5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 64px;
  line-height: 84px;
  font-weight: 500;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 56px;
  font-weight: 500;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jcc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aic {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tac {
  text-align: center;
}

.fz-20 {
  font-size: 20px;
}

.fz-24 {
  font-size: 24px;
}

.lh-30 {
  line-height: 30px;
}

.lh-32 {
  line-height: 32px;
}

.fw-medium {
  font-weight: 500;
}

.fw-bold {
  font-weight: 700;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-28 {
  margin-bottom: 28px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-56 {
  margin-bottom: 56px;
}

.mb-68 {
  margin-bottom: 68px;
}

.mb-144 {
  margin-bottom: 144px;
}

.pt-28 {
  padding-top: 28px;
}

.gap-16 {
  gap: 16px;
}

.border {
  border-top: 1px solid #000000;
}

.dot::before {
  content: "";
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #891818;
  margin-right: 16px;
  display: inline-block;
}

.bg-black {
  background-color: #000000;
  color: #FFFFFF;
}

.header {
  background-image: url(../images/banner.png);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  height: 100vh;
  color: #FFFFFF;
}

.header h1 {
  font-size: 80px;
  line-height: 106px;
  font-weight: 900;
}

.about-content {
  width: 384px;
  margin: 0 auto;
}

.my-brand {
  padding-top: 56px;
  padding-bottom: 160px;
}

.my-brand .my-brand-pic {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px 24px;
}

.work-pic {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 48px 24px;
}

.footer {
  padding: 64px 0;
}

.footer a {
  color: #FFFFFF;
  display: block;
}
